out/
chroot*/
binary*/
archive*/
boot*/
.cache*/
live-image*/
*.iso
*.gz
*.sha1
*.md5
*.sig
# live-build 在 config/ 下生成的文件 (非源码)
config/archives
config/bootstrap
config/binary
config/binary_*
config/chroot
config/common
config/control
config/source
config/*apt*
